.blog-head  h5{
    font-size: 15px;
}
.blog-list__meta li p {
   
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.blog-list__meta {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 0px !important;
    border-radius: 20px;
    z-index: 2;
}
.fa-user{
    color:#5cb2ba;
}
.fa-calendar{
    color:#5cb2ba;

}
.blog-details__content-thumb-date {
    position: absolute;
    background-color: #1f7b94;
    color:#fff;
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    bottom: 0;
    right: 8%;
    transition: all 0.3s ease-in-out;
}
.blog-details__content-thumb {
    position: relative;
}
.blog-details__content-thumb-date {
    display: flex;
    align-items: center;
    gap: 10px;
}
.blog-details__content-thumb-date .fa-calendar{
    color:#fff;
}
@media only screen and (max-width:556px) {
.page-title-heading h1{
    font-size:20px;

}
.headInfo h1{
    font-size:20px!important;
}
}

